[submodule "src/data_collection"]
	path = third_party/gello_software
	url = https://github.com/makolon/gello_software.git
[submodule "src/policy_training/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
