[submodule "src/data_collection"]
	path = src/data_collection
	url = https://github.com/makolon/gello_software.git
[submodule "src/policy_training/lerobot"]
	path = src/policy_training/lerobot
	url = https://github.com/huggingface/lerobot.git
